<!DOCTYPE html>
<html lang="ru">
<head>
    {{template "head.html" .}}
</head>
<body>
    <div class="container">
        {{template "header.html" .}}
        
        <div class="row">
            <div class="col-6">
                {{template "models.html" .}}
            </div>
            <div class="col-6">
                {{template "task_form.html" .}}
                {{template "stats.html" .}}
                
            </div>

        </div>

        {{template "ai_form.html" .}}
        {{template "tasks.html" .}}
        
        <div id="message" class="{{ if .Error }}error{{ else }}hidden{{ end }}">
            <i class="fas fa-exclamation-circle"></i> {{ .Error }}
        </div>
    </div>

    <script>
        const initialSelectedModel = "{{.SelectedModel}}";
    </script>
</body>
</html>